/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:ital,wght@0,200..900;1,200..900&family=Inter:wght@100..900&family=Sedan+SC&family=Teachers:ital,wght@0,400..800;1,400..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Blinker:wght@100;200;300;400;600;700;800;900&family=Catamaran:wght@100..900&family=Finlandica:ital,wght@0,400..700;1,400..700&display=swap');

/*KEYFRAMES*/
@keyframes slide-from-left {
    from {
        transform:translateX(+100%)
    }to{
        transform: translateX(0%);
    }
}

/*MEDIA*/
@media (max-width: 575.5px) {
    .navbar {
        padding-bottom: 5vh;
    }
    .navbar-brand {
        position: absolute;
        left: 50%;
        margin-left: -13.5vw;
        padding-left: 0;
        padding-top: 4vh;
    }
}

@media (min-width: 800px) {
    #intro {
        margin-bottom: 25vh;
    }
    #about {
        margin-left: 2.5vw!important;
    }
    #slider-about > p {
        width: 50%!important;
    }
}

@media (min-width: 1200px) {
    #intro {
        margin-bottom: 30vh;
    }
    #about {
        margin-left: 3.5vw!important;
    }
    #slider-about > p {
        width: 40%!important;
    }
}

@media (min-width: 1400px) {
    #intro {
        margin-bottom: 35vh;
    }
    #about {
        margin-left: 5vw!important;
    }
    #slider-about > p {
        width: 30%!important;
    }
}


body {
    background-color: #EFF;
    color: #444;
}

nav {
    border: 1px solid black;
    background-color: #EFF;
    opacity: 80%;
}

#signature {
    width: 27vw;
    max-width: 200px;
    padding-left: 2vw;
}

.nav-item {
    font-size: clamp(14px, 2.2vw, 18px);
    font-weight: 600;
    font-family: "Inter", Arial, Helvetica, sans-serif;
    padding-left: .5vw;
}

#lm-dm-switch {
    transition: .5s ease-in-out;
    padding-right: 2vw;
}

#lm-dm-switch:hover {
    scale: 1.3;
}

#lm-dm-switch:active {
    scale: .9;
    
}

.lm-dm-switches {
    #
}

#intro {
    text-align: center;
    font-family: "Crimson Pro", Arial, Helvetica, sans-serif;
    font-size: 9vw;
    margin-top: 15vh;
}

#main-content {
    position: relative;
    background-color: #FF7;
    margin-top: 20vh;
}

#photo-container {
    position: absolute;
    margin-left: 35vw;
    top: -15vw;
    width: 30vw;
    height: 30vw;
    overflow: hidden;
    border-radius: 50%;
}

#photo {
    width: 40vw;
    height: 40vw;
}

.spreader {
     padding-top: 20vw;
}

#about {
    #
}

#why {
    #
}

.main {
    margin: 1.5vw;
    overflow: hidden;
}

h3 {
    font-family: 'Finlandica', Arial, Helvetica, sans-serif;
    font-size: 2em;
    font-weight: 600;
}

p {
    font-family: 'Catamaran', Arial, Helvetica, sans-serif;
    position: absolute;
    font-size: 1.1em;
}

.slider {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 5em;
}

.slider p {
    width: 60%;
}

.right {
    float: right;
}

.right p {
    #
}